[defaults]
inventory          = inventory.autogen.yaml
interpreter_python = /usr/bin/python3
forks              = 30
pipelining         = true

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
